<! DOCKTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Soumitra Mishra</title>
    </head>
    <body>
        {{> header}}
        <p>{{makeTextLoud welcomeMessage}}</p>
    </body>
    {{> footer}}
</html>

